<header>
    <h1><a href="/">Ministerstvo Dopravy</a><% if(title) { %> <%- " - "+ title %> <% } %></h1>
    <ul>
        <li><a href="/urad">Úřady</a></li>
        <li><a href="/ridic">Řidiči</a></li>
        <li><a href="/rp">Řidičské průkazy</a></li>
        <li><a href="/ridicskeopravneni">Řidičská oprávnění</a></li>
        <li><a href="/vozidlo">Vozidla</a></li>
    </ul>
<header>