<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: null}); %>
</head>
<body>
    <%- include('../partials/header', {title : null}); %>
    <%- include('../partials/footer'); %>
    <script src="script.js"></script>
</body>
</html>